
<div id="addTweet" class="card">
	<div class="row">
		<div class="col-sm-2">
			<img src="{{thisUser.displayImg}}" alt="profile pic">
		</div>
		<div class="col-sm-10">
			<div>
				<input class="form-control" #tweetDescription placeholder="What's happening?">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<input class="form-control" #image placeholder="add an image by url">
		</div>
		<div class="col-sm-6">
			<input class="form-control" #link placeholder="link to anywhere on the web">
		</div>
	</div>


	<button class="btn btn-primary" (click)="submitForm(tweetDescription.value, image.value, link.value); tweetDescription.value=''; image.value=''; link.value='';">Tweet</button>
</div>
