<app-navbar></app-navbar>
<div class="container">
	<div id="contentStart" class="row">
		<div class="col-sm-4">
			<app-profile-info [thisUser]="currentUser"></app-profile-info>
			<h1>Who to Follow</h1>
			<hr>
			<h1>Trends for you</h1>
			<hr>
			<h1>Info Block</h1>
			<hr>
		</div>
		<div class="col-sm-8">
			<app-add-tweet [thisUser]="currentUser" (sendTweet)="addTweet($event)"></app-add-tweet>
			<br>
			<app-tweet-list [childTweetList]="masterTweetList" [thisUser]="currentUser"></app-tweet-list>
		</div>
	</div>
</div>
