<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="column-contents">
				<h4>Follow your interests.</h4>
				<h4>Hear what people are talking about.</h4>
				<h4>Join the conversation.</h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="column-contents">
				<h2>See what's happening in the world right now</h2>
				<h6>Join Twitter today.</h6>
				<input class="form-control form-control-sm links" #email placeholder="Phone or email">
				<input class="form-control form-control-sm links" #password placeholder="Password">
				<br>
				<input class="form-control form-control-sm links" #displayName placeholder="Display Name">
				<input class="form-control form-control-sm links" #handle placeholder="Twitter @handle">
				<p><button routerLink='browse' class="btn btn-primary" (click)="submitForm(email.value, password.value, displayName.value, handle.value); email.value=''; password.value=''; displayName.value=''; handle.value='';">Get Started</button> Have an account? <a routerLink="">Log in</a></p>
			</div>
		</div>
	</div>
</div>
