
<div class="card">
	<div class="card-body">
		<p>© 2018
		<a href="#">Twitter</a>
		<a href="#">About</a>
		<a href="#">Help Center</a>
		<a href="#">Terms</a>
		<a href="#">Privacy Policy</a>
		<a href="#">Cookies</a>
		<a href="#">Ads Info</a>
		<a href="#">Brand</a>
		<a href="#">Blog</a>
		<a href="#">Status</a>
		<a href="#">Apps</a>
		<a href="#">Jobs</a>
		<a href="#">Marketing</a>
		<a href="#">Businesses</a>
		<a href="#">Developers</a>
		</p>
		<hr>
		<a id="ad-prompt" href="#">Advertise with Twitter</a>
	</div>
</div>
