
<div class="card">
	<div class="card-body">
		<p>© 2018
		<a href="https://about.twitter.com/">Twitter</a>
		<a href="https://about.twitter.com/">About</a>
		<a href="https://help.twitter.com/">Help Center</a>
		<a href="https://twitter.com/en/tos">Terms</a>
		<a href="https://twitter.com/en/privacy">Privacy Policy</a>
		<a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Cookies</a>
		<a href="https://ads.twitter.com/login?ref=gl-tw-tw-twitter-advertise">Ads Info</a>
		<a href="https://about.twitter.com/en_us/company/brand-resources.html">Brand</a>
		<a href="https://blog.twitter.com/">Blog</a>
		<a href="https://status.twitterstat.us/">Status</a>
		<a href="https://about.twitter.com/">Apps</a>
		<a href="https://careers.twitter.com/">Jobs</a>
		<a href="https://marketing.twitter.com/na/en.html">Marketing</a>
		<a href="https://business.twitter.com/">Businesses</a>
		<a href="https://developer.twitter.com/">Developers</a>
		</p>
		<hr>
		<a id="ad-prompt" href="https://ads.twitter.com/login?ref=en-btc-solutions-twitterads-header">Advertise with Twitter</a>
	</div>
</div>
